*{
	margin: 0px;
	padding: 0px;
}
.nieve{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
arriba{
	background-color: transparent;
	opacity: 0.5;
}
.columna1{
	text-align: left;
}

.columna2{
	text-align: right;
}
